Uname {
    color: black;
    font-family: 'copperplate Gothic Light', sans-serif;
    font-size: 16pt;
    font-weight: bold;
}

City, Rank {
    color: yellow;
    font-family: Arial, sans-serif;
    font-size: 12pt;
    font-weight: bold;
}
