body {
  font-size: 30px;
}

h3 {
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 0, 102);
  text-decoration: underline;
  text-decoration-color: green;
}

ul.a {
  list-style-type: circle;
}

ul.b {
  list-style-type: square;
}

ol.c {
  list-style-type: upper-roman;
}

ol.d {
  list-style-type: lower-alpha;
}